# log file
*.log

# temp file
*.tmp
mentemp
*~
*.swp

# result
sunset*
cheack/*result*
check/mentemp
other/sunset*
student/sunset*

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

