# log file
*.log

# temp file
*.tmp
mentemp
*~
*.swp

#
check/mentemp

# result
*.re
check/good_list

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

